{% load staticfiles %}

<html>
    <head>
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
        <style>
            body {
              padding-top: 50px;
            }
            .starter-template {
              padding: 40px;
              padding-right: 220px;
              padding-left: 15px;
              text-align: center;
            }
        </style>
        <title>LD Similarity survey</title>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/survey">LD Similarity Survey</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'survey.views.survey' %}">The Survey</a></li>
                <li class="active"><a href="{% url 'survey.views.ranking' %}">Ranking</a></li>
                <li><a href="{% url 'survey.views.about' %}">About</a></li>
                <li><a>You are logged as {{user.username}}</a></li>
                <li><a href="{% url 'survey.views.user_logout' %}">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
    </div>

    <div class="container">
        <h1>Ranking<h1>
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6">
                <table class="table table-striped">
                    <thead>
                        <th>User</th>
                        <th>Rated pairs</th>
                    </thead>
                    <tbody>
                        {% for profile in user_profiles %}
                            {% if profile.user == user %}
                                <tr>
                                    <td><b>{{profile.user.username}}</b></td>
                                    <td><b>{{profile.points}}</b></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{profile.user.username}}</td>
                                    <td>{{profile.points}}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    <tbody>
                </table>
            <div>
            <div class="col-lg-3">
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    </body>
</html>