{% load staticfiles %}

<html>
    <head>
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
        <style>
            body {
              padding-top: 50px;
            }
            .starter-template {
              padding: 40px 15px;
              text-align: center;
            }
        </style>
        <title>LD Similarity survey</title>
    </head>

    <body
        {% if errors.user_error %}
            onload="showNameTooltip()"
        {% elif errors.empty_password %}
            onload="showEmptyPasswordTooltip()"
        {% elif errors.different_passwords %}
            onload="showDifferentPasswordsTooltip()"
        {% endif %}>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'survey.views.survey' %}">LD Similarity Survey</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'survey.views.survey' %}">The Survey</a></li>
            <li><a href="{% url 'survey.views.ranking' %}">Ranking</a></li>
            <li><a href="{% url 'survey.views.about' %}">About</a></li>
        </ul>
    </div><!--/.nav-collapse -->
    </div>
    </div>

    <div class="container">
        <div class="starter-template">
            {% if registered %}
            <h2>Thank you for registering, you can <a href="/survey">start the survey</a> now!</h2>
            {% else %}
                <h1>Sign up</h1>
                <form id="user_form" method="post" action="/register/" class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-group {% if errors.user_error %} has-error {% endif %}">
                        <label for="user" class="col-sm-5 control-label">Username</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="user" placeholder="Username" name="user" data-toggle="tooltip" data-placement="right" title="Username already in use!" {% if user_form.username.value != None %} value="{{user_form.username.value}}" {% endif %}>
                        </div>
                    </div>
                    <div class="form-group {% if errors.empty_password %} has-error {% endif %}">
                        <label for="password" class="col-sm-5 control-label">Password</label>
                        <div class="col-sm-3">
                            <input type="password" class="form-control" id="password" placeholder="Password" name="password" data-toggle="tooltip" data-placement="right" title="This field is required!">
                        </div>
                    </div>
                    <div class="form-group {% if errors.different_passwords %} has-error {% endif %}">
                        <label for="password-repeat" class="col-sm-5 control-label">Repeat Password</label>
                        <div class="col-sm-3">
                            <input type="password" class="form-control" id="password-repeat" placeholder="Password" name="password-repeat" data-toggle="tooltip" data-placement="right" title="Passwords do not match!">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-5">
                            <input type="submit" name="submit" value="Submit" class="btn btn-default"/>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script>
        function showNameTooltip() {
            $('#user').tooltip();
            $('#user').tooltip('show');
        }
        function showEmptyPasswordTooltip() {
            $('#password').tooltip();
            $('#password').tooltip('show');
        }
        function showDifferentPasswordsTooltip() {
            $('#password-repeat').tooltip();
            $('#password-repeat').tooltip('show');
        }
    </script>
    </body>
</html>